.benefits {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.benefits__item {
	width: 100%;
	max-width: 370px;
	margin-bottom: 1.5rem;
	text-align: center;
	
	& img {
		width: 3rem;
		margin-bottom: .6rem;
	}
}

.benefits__title {
	margin-bottom: .8rem;

	font-family: "Lato" ,sans-serif;
	color: $black;
	font-size: 1.4rem;
	font-weight: 900;
	line-height: 1.2;
}

.benefits__text {
	margin-bottom: 2rem;
	font-size: 1rem;
	line-height: 1.4;
	color: $black;
}

@media (max-width: 1200px) {
	.benefits {
        justify-content: space-around;
    }
} 

@media (max-width: 767px) {
	.benefits {
        justify-content: center;
    }
}