.footer {
    padding-top: 65px;
    padding-bottom: 30px;

    background-color: $grey-light;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.footer__col--first {
    width: 35%;
}

.footer__col--second {
    width: 29%;
}

.footer__col--third {
    width: 22%;
}

.footer__text {
    margin-top: 1rem;
    margin-bottom: 2rem;

    font-size: 1rem;
    color: $grey;
}

.footer__subscribe {
    display: flex;
    width: 100%;
}

.footer__copyright {
    border-top: 1px solid #e5e5e5;

    padding-top: 1rem;

    font-size: 14px;
    color: #333333;
    text-align: center;
}

@media (max-width: 991px) {
    .footer__col--first,
    .footer__col--second {
        width: 45%;
        margin-bottom: 4rem;
    }

    .footer__col--third {
        width: 100%;
    }

    .footer__subscribe {
        flex-wrap: wrap;

        & input {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: 767px) {
    .footer__col--first,
    .footer__col--second,
    .footer__col--third  {
        width: 100%;
        margin-bottom: 4rem;
    }
    .footer__inner {
        margin-bottom: 1rem;
    }
}