.modal {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, .9);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;

	&.show {
		display: flex;
	}
}

.modal__inner {
	width: 400px;
	padding: 1.6rem;

	position: relative;

	background-color: $grey-light;
	opacity: 0;

	transform: scale(0.5);

	transition: transform .2s ease-out, opacity .2s ease-out;
}

.modal__header {
	text-align: center;
}

.modal__title {
	margin-top: 2rem;
	margin-bottom: 1rem;

	font-family: 'Lato', sans-serif;
	font-size: 1.4rem;
	color: $main;
	font-weight: 900;
	line-height: 1.2;
}

.modal__text {
	font-size: 1rem;
	color: $grey;
}

.modal__footer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.modal__close {
	width: 20px;
	height: 20px;
	padding: 0;

	background: none;
	border: none;
	cursor: pointer;

	position: absolute;
	top: -20px;
	right: -30px;
	z-index: 1;

	transition: transform .2s linear;

	& img {
		display: block;
		width: 100%;
	}

	&:hover {
		transform: rotate(90deg);
	}

	&:focus {
		outline: 0;
	}
}