.quote {
	background: url("../img/quote-bg-2.jpg") no-repeat center/cover ;
}

.quote__inner {
	max-width: 40%;
	height: 300px;
    display: table-cell;
	vertical-align: middle;
}

.quote__text {
	margin-bottom: 10px;

	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	color: $white;
}

.quote__author {
	font-size: 1rem;
	font-weight: 900;
	color: $white;
}

@media (max-width: 767px) {
	.quote__text {
		font-size: 1.2rem;
	}
}