<div class="section" id="benefits" data-scrollspy="#benefits">
	<div class="container">
		<h2 class="section__title" data-aos="fade-right" >Our <span>Benefits</span></h2>
		<div class="benefits">
			<div class="benefits__item" data-aos="zoom-out-left">
				<img src="assets/img/benefits/benefits-icon-1.svg" alt="Benefits-icon-1">
				<h4 class="benefits__title">Personalized matching</h4>
				<p class="benefits-list__text">We can provide up to 3 experienced
				travel specialists who fit best.</p>
			</div>
			<div class="benefits__item" data-aos="zoom-out-left" data-aos-delay="100">
				<img src="assets/img/benefits/benefits-icon-2.svg" alt="Benefits-icon-2">
				<h4 class="benefits__title">Wide variety of destinations</h4>
				<p class="benefits__text">With us, you’ll find a perfect 
				destination among hundreds available.</p>
			</div>
			<div class="benefits__item" data-aos="zoom-out-left" data-aos-delay="300">
				<img src="assets/img/benefits/benefits-icon-3.svg" alt="Benefits-icon-3">
				<h4 class="benefits__title">Highly qualified service</h4>
				<p class="benefits__text">Our high level of service is officially
				recognized by thousands of clients.</p>
			</div>
			<div class="benefits__item" data-aos="zoom-out-left" data-aos-delay="600">
				<img src="assets/img/benefits/benefits-icon-4.svg" alt="Benefits-icon-4">
				<h4 class="benefits__title">24/7 support</h4>
				<p class="benefits__text">Our travel agents are always
				there to support you during your trip.</p>
			</div>
			<div class="benefits__item" data-aos="zoom-out-left" data-aos-delay="900">
				<img src="assets/img/benefits/benefits-icon-5.svg" alt="Benefits-icon-5">
				<h4 class="benefits__title">Handpicked hotels</h4>
				<p class="benefits__text">We pick the hotels with 
				the utmost reputation and positive reviews.</p>
			</div>
			<div class="benefits__item" data-aos="zoom-out-left" data-aos-delay="1200">
				<img src="assets/img/benefits/benefits-icon-6.svg" alt="Benefits-icon-6">
				<h4 class="benefits__title">Best price guarantee</h4>
				<p class="benefits__text">We guarantee you’ll get top-notch
				comfort at an affordable price.</p>
			</div>
		</div>
	</div>
</div>
