<div class="contacts">
	<div class="contacts__title">Contacts</div>
	<ul>
		<li class="contacts__item">
		  	<img class="contacts__icon" src="assets/img/adress-icon.svg" alt="Adress-icon">
		  	<a class="contacts__link" href="#">700/10 Manchester,King Street,United Kingdom</a>
		</li>
		<li class="contacts__item">
			<img class="contacts__icon" src="assets/img/phone-icon.svg" alt="Phone-icon">
			<a class="contacts__link" href="tel:+7456345677554">+7456345677554</a>
		</li>
		<li class="contacts__item">
			<img class="contacts__icon" src="assets/img/mail-icon.svg" alt="Mail-icon">
			<a class="contacts__link" href="mailto:info@demolink.org">info@demolink.org</a>
		</li>
	</ul>

	{{> social }}
	
</div>
