<footer class="footer">
	<div class="container">
	  	<div class="footer__inner">
		<div class="footer__col footer__col--first">
			<a class="logo  logo--dark" href="index.html">J<span>o</span>urney</a>
		  	<div class="footer__text">Lorem ipsum dolor sit amet, 
			consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
			consequat. </div>
			<form class="footer__subscribe" action="/" method="post">
				<input class="input  input--destination" type="email" name="email" placeholder="E-mail">
			  	<button class="btn  btn--noshadow  btn--nomargin" data-modal="#thanksForRequest" type="submit">Subscribe</button>
			</form>
		</div>
		<div class="footer__col footer__col--second">
			
			{{> contacts }}

		</div>  
		<div class="footer__col footer__col--third">

			{{> instagram }}

		</div>
	  </div>
	  <div class="footer__copyright">
		  © 2020 copyright
	  </div>
	</div>
  </footer>