<form class="form" data-aos="fade-up"  action="/" method="post">
	<div class="container">
		<div class="form__inner">
			<div class="form__col--first">
				<div class="form__title">Find your <br><span>holidays</span></div>
			</div>
			<div class="form__col--second">
			<div class="form__group">
				<input class="input" type="text" name="destination" placeholder="Destination">
				<input class="input" type="date" name="date">
			</div>
			</div>
			<div class="form__col--third">
				<button class="btn  btn--nomargin">Search</button>
			</div>
		</div>
	</div>
</form>