<div class="instagram">
	<div class="instagram__title">Instagram</div>
	<div class="instagram__inner">
		<a class= "instagram__item" href="#" target="_blank">
		  	<img class="img" src="assets/img/footer/instagram/1.jpg" alt="Instagram-photo-1">
		</a>
		<a class= "instagram__item" href="#" target="_blank">
		  	<img class="img" src="assets/img/footer/instagram/2.jpg" alt="Instagram-photo-1">
	  	</a>
	  	<a class= "instagram__item" href="#" target="_blank">
		  	<img class="img" src="assets/img/footer/instagram/3.jpg" alt="Instagram-photo-1">
	  	</a>
	  	<a class= "instagram__item" href="#" target="_blank">
		  	<img class="img" src="assets/img/footer/instagram/4.jpg" alt="Instagram-photo-1">
	  	</a>
	  	<a class= "instagram__item" href="#" target="_blank">
		  	<img class="img" src="assets/img/footer/instagram/5.jpg" alt="Instagram-photo-1">
	  	</a>
	  	<a class= "instagram__item" href="#" target="_blank">
		  	<img class="img" src="assets/img/footer/instagram/6.jpg" alt="Instagram-photo-1">
	  	</a>
	  	<a class= "instagram__item" href="#" target="_blank">
		  	<img class="img" src="assets/img/footer/instagram/7.jpg" alt="Instagram-photo-1">
	  	</a>
	  	<a class= "instagram__item" href="#" target="_blank">
		  	<img class="img" src="assets/img/footer/instagram/8.jpg" alt="Instagram-photo-1">
	  	</a>
	  	<a class= "instagram__item" href="#" target="_blank">
		  	<img class="img" src="assets/img/footer/instagram/9.jpg" alt="Instagram-photo-1">
	 	</a>
	</div>
</div>