<div class="intro" id="intro">
	<div class="intro__slider  slider--nopadding" id="introSlider">
		<div class="slider-item">
			<img class="intro__slider-photo" src="assets/img/slider/intro-bg.jpg" alt="Norway">
		</div>
		 <div class="slider-item">
			<img class="intro__slider-photo" src="assets/img/slider/intro-bg-2.jpg" alt="Italy">
		</div>
		<div class="slider-item">
			<img class="intro__slider-photo" src="assets/img/slider/intro-bg-3.jpg" alt="Germany">
		</div> 
		<div class="slider-item">
			<img class="intro__slider-photo" src="assets/img/slider/intro-bg-4.jpg" alt="USA">
		</div>
		<div class="slider-item">
			<img class="intro__slider-photo" src="assets/img/slider/intro-bg-5.jpg" alt="Germany">
		</div> 
	</div>

	<div class="container">
		<div class="intro__inner">
			<div class="intro__text">
				<h1 class="intro__title">Relax & Travel</h1>
				<div class="intro__subtitle">You Don't Need Magic to Disappear. All you need is a ticket.</div>	
			</div>
			
		</div>
	</div>
	<div class="intro__slider-arrows">
		<button class="intro__slider-btn  intro__slider-btn--prev" id="introSliderPrev" type="button">Prev</button>
		<button class="intro__slider-btn  intro__slider-btn--next" id="introSliderNext" type="button">Next</button>
	</div>


</div>
{{> form }}