<div class="modal" id="thanksForRequest">
	<div class="modal__inner">
		<div class="modal__header">
			<a class="logo  logo--dark" href="index.html">J<span>o</span>urney</a>
			<h4 class="modal__title">Thanks for your request</h4>
			<div class="modal__text">
				<p>We'll call you back as soon as possible!</p>
			</div>
		</div>
		<div class="modal__footer">

			{{> social }}

		</div>
		<button class="modal__close" type="button" data-modal-close="">
			<img  src="assets/img/close-icon.svg" alt="Close">
		</button>
	</div>
</div>