<section class="section" id="blog" data-scrollspy="#blog">
	<div class="container">
		<h2 class="section__title" data-aos="fade-right">Special <span>News</span></h2>
		<div class="news">
			<article class="news__item">
				<div class="news__img">
					<img class="img" src="assets/img/news/news-1.jpg" alt="Mountain">
				</div>
				<div class="news__content">
					
					<h4 class="news__title">
						<a href="blogArticle-1.html">Ice Desert</a>
					</h4>
					<p class="news__text">Lorem ipsum dolor sit amet,
					consetetur sadipscing elitr, sed diam nonumy eirmod tempor
					invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
					At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
					no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
					<time datetime="2020-06-27 12:15" class="news__date">21 March, 2020</time>
				</div>
			</article>
			
			<article class="news__item">
				<div class="news__img">
					<img class="img" src="assets/img/news/news-2.jpg" alt="Dubai">
				</div>
				<div class="news__content">
					<h4 class="news__title">
						<a href="#">Cultural mystery</a>
					</h4>
					<p class="news__text">Lorem ipsum dolor sit amet,
					consetetur sadipscing elitr, sed diam nonumy eirmod tempor
					invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
					At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
					no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
					<time datetime="2020-03-21 15:00" class="news__date">21 March, 2020</time>
				</div>
			</article>
		</div>
		<button class="btn">Visit blog</button>
	</div>
</section>