<section class="section" id="offers" data-scrollspy="#offers">
	<div class="container">
		<h2 class="section__title" data-aos="fade-right">Special <span>Offers</span></h2>
		</div>
		<div class="offers slick--padding" id="offersSlider">
			<div class="offers__item">
				<img class="offers__img" src="assets/img/offers/offers-1.jpg" alt="France">
				<div class="offers__content">
					<h3 class="offers__title">Eiffel tower, France</h3>
					<div class="offers__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
				</div>
			</div>
			<div class="offers__item">
				<img class="offers__img" src="assets/img/offers/offers-2.jpg" alt="Greece">
				<div class="offers__content">
					<h3 class="offers__title">Thira, Greece</h3>
					<div class="offers__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
				</div>
			</div>
			<div class="offers__item">
				<img class="offers__img" src="assets/img/offers/offers-3.jpg" alt="Dubai">
				<div class="offers__content">
					<h3 class="offers__title">Burj tower, UAE</h3>
					<div class="offers__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
				</div>
			</div>
			<div class="offers__item">
				<img class="offers__img" src="assets/img/offers/offers-4.jpg" alt="Greece">
				<div class="offers__content">
					<h3 class="offers__title">Santorini, Greece</h3>
					<div class="offers__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
				</div>
			</div>
			<div class="offers__item">
				<img class="offers__img" src="assets/img/offers/offers-5.jpg" alt="Iceland">
				<div class="offers__content">
					<h3 class="offers__title">North light, Iceland</h3>
					<div class="offers__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
				</div>
			</div>
			<div class="offers__item">
				<img class="offers__img" src="assets/img/offers/offers-6.jpg" alt="Morocco">
				<div class="offers__content">
					<h3 class="offers__title">Sahara Desert, Morocco</h3>
					<div class="offers__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
				</div>
			</div>
			<div class="offers__item">
				<img class="offers__img" src="assets/img/offers/offers-7.jpg" alt="United Kingdom">
				<div class="offers__content">
					<h3 class="offers__title">Glenfinnan, UK</h3>
					<div class="offers__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
				</div>
			</div>
			<div class="offers__item">
				<img class="offers__img" src="assets/img/offers/offers-8.jpg" alt="Brazil">
				<div class="offers__content">
					<h3 class="offers__title">Jungle, Brazil</h3>
					<div class="offers__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
				</div>
			</div>
		</div>

		<div class="container">
			<button class="btn  btn--section">View all tours</button>
		</div>

</section>