<section class="section" id="reviews" data-scrollspy="#reviews">
	<div class="container">
		<h2 class="section__title" data-aos="fade-right">Clients <span>Reviews</span></h2>
		<div class="reviews" id="reviewsSlider">
			<div class="reviews__item">
				<div class="reviews__header">
					<img class="reviews__photo" src="assets/img/reviews/1.jpg" alt="Author">
					<div class="reviews__header-content">
						<div class="reviews__name">Anna Ferth</div>
						<div class="reviews__profession">Teacher</div>
					</div>
				</div>
				<div class="reviews__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>	
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__header">
					<img class="reviews__photo" src="assets/img/reviews/2.jpg" alt="Author">
					<div class="reviews__header-content">
						<div class="reviews__name">John Smith</div>
						<div class="reviews__profession">Architect</div>
					</div>
				</div>
				<div class="reviews__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>	
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__header">
					<img class="reviews__photo" src="assets/img/reviews/3.jpg" alt="Author">
					<div class="reviews__header-content">
						<div class="reviews__name">Fred Dred</div>
						<div class="reviews__profession">Secretary</div>
					</div>
				</div>
				<div class="reviews__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>	
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__header">
					<img class="reviews__photo" src="assets/img/reviews/4.jpg" alt="Author">
					<div class="reviews__header-content">
						<div class="reviews__name">Jo So</div>
						<div class="reviews__profession">Designer</div>
					</div>
				</div>
				<div class="reviews__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>	
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__header">
					<img class="reviews__photo" src="assets/img/reviews/5.jpg" alt="Author">
					<div class="reviews__header-content">
						<div class="reviews__name">Jim Beam</div>
						<div class="reviews__profession">Pilot</div>
					</div>
				</div>
				<div class="reviews__content">
					<p lang="zxx">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>

					<p lang="zxx">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>	
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__header">
					<img class="reviews__photo" src="assets/img/reviews/6.jpg" alt="Author">
					<div class="reviews__header-content">
						<div class="reviews__name">Lisa Torn</div>
						<div class="reviews__profession">Engineer</div>
					</div>
				</div>
				<div class="reviews__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Aspernatur sequi assumenda perferendis, 
						maiores voluptatem suscipit mollitia consequuntur! 
						Possimus veritatis culpa dolores magnam doloremque, 
						natus ut, voluptatum enim laudantium neque sed.</p>	
				</div>
			</div>
		</div>
		<button class="btn  btn--section" data-modal="#сallMeBack">Become a client</button>
	</div>
</section>