<div class="social"> 
	<a class="social__follow" href="#" target="_blank">
		  <img src="assets/img/footer/social/facebook-icon.svg" alt="Facebook-icon">
	</a>
	<a class="social__follow" href="#" target="_blank">
		<img src="assets/img/footer/social/instagram-icon.svg" alt="Instagram-icon">
	</a>
	<a class="social__follow" href="#" target="_blank">
		  <img src="assets/img/footer/social/twitter-icon.svg" alt="Twitter-icon">
	</a>
	<a class="social__follow" href="#" target="_blank">
		<img src="assets/img/footer/social/pinterest-icon.svg" alt="Pinterest-icon">
  </a> 
</div>