<section class="section  section--grey" id="team" data-scrollspy="#team">
	<div class="container">
		<h2 class="section__title" data-aos="fade-right">Our <span>Team</span></h2>
		<div class="team">
			<div class="team__item" data-aos="fade-left">
				<img class="team__photo" src="assets/img/team/team-1.jpg" data-aos="fade-in" alt="Team member">
				<div class="team__name">Elena Row</div>
				<div class="team__prof">profession</div>
				<ul class="team__contacts">
					<li>
						<img src="assets/img/mail-icon.svg" alt="Mail-icon">
						<a href="mailto:elena@journey.com">elena@journey.com</a>
					</li>
					<li>
						<img src="assets/img/phone-icon.svg" alt="Phone-icon">
						<a href="tel:+79163454567">+79163454567</a>
					</li>
				</ul>	
			</div>
			<div class="team__item" data-aos="fade-left" data-aos-delay="500">
				<img class="team__photo" src="assets/img/team/team-2.jpg"  alt="Team member">
				<div class="team__name">John Doe</div>
				<div class="team__prof">profession</div>
				<ul class="team__contacts">
					<li>
						<img src="assets/img/mail-icon.svg" alt="Mail-icon">
						<a href="mailto:john@journey.com">john@journey.com</a>
					</li>
					<li>
						<img src="assets/img/phone-icon.svg" alt="Phone-icon">
						<a href="tel:+78906546213">+78906546213</a>
					</li>
				</ul>	
			</div>
			<div class="team__item" data-aos="fade-left" data-aos-delay="1000">
				<img class="team__photo" src="assets/img/team/team-3.jpg"  alt="Team member">
				<div class="team__name">Jim Boe</div>
				<div class="team__prof">profession</div>
				<ul class="team__contacts">
					<li>
						<img src="assets/img/mail-icon.svg" alt="Mail-icon">
						<a href="mailto:jim@journey.com">jim@journey.com</a>
					</li>
					<li>
						<img src="assets/img/phone-icon.svg" alt="Phone-icon">
						<a href="tel:+78904352717">+78904352717</a>
					</li>
				</ul>	
			</div>	
		</div>
	</div>
</section>